<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Posts</title>
    <link rel="stylesheet" href="/styles.css"/>
</head>
<body>
    <div class="container">
        <h1>Quora Posts</h1>
        <a href="/posts/new" class="btn">Create New Post</a>
        <br><br>

        <% posts.forEach(post => { %>
            <div class="post-card">
                <h3 class="user">@<%= post.username %></h3>
                <p class="content"><%= post.content %></p>
                <a href="/posts/<%= post.id %>" class="btn">See in Detail</a>
                <a href="/posts/<%= post.id %>/edit" class="btn btn-edit">Edit</a>
                
                <form action="/posts/<%= post.id %>?_method=DELETE" method="POST" style="display:inline;">
                    <button class="btn btn-delete">Delete Post</button>
                </form>
            </div>
            <br>
        <% }); %>
    </div>
</body>
</html>